.App {
  text-align: center;
  font-size: 1em;
  background-color:whitesmoke;
  padding-top: 10%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.title{
  position: absolute;
  top:1%;
  left:1%;
  font-size: 1em;
  
}
.colorblack{
  color: black;
}
.Aligncenterself{
 
 display: flex;
 flex-direction: column;
 align-items: center;
 font-size: 1.5em; 
 
}
.AlignRowContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}





.App-link {
  color: #61dafb;
  align-self: center;
}

 
  .numbercounter{
   font-size: 5em;
   font-weight: bolder;
  }
  .typeofrepo{
   color: #FFB6C1;
   margin-top: 15%;
  }
  .papercontainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin-right:'2%';
    width: 40%;
   
    
  }

  .container{
    display:'flex';
    flex-direction:row;
    align-Items:center;
    position:absolute;
    top:10%;
    width:70%;
    left:15%;
    
    
      }
     
      .searchbar{
      width:'70%';
      padding:'1%';
    
      }


.App-Bar-Background{
  background-color: blue
}
.reposummary{
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 5%;
  padding-bottom: 2%;

  margin:2%;
}
.goright{
 float: right;
  
}
.goleft{
  float: left;
}
.root {
  width: '50%';
  margin-top: 3%;
  overflow-X: 'auto';
}
.table {
  min-width: 650;
}

.nameanddesc {
  flex-grow: 1;
  
}
.namecontainer{
display:flex;
flex-direction:column;
align-items:center;
padding:1%;
width:20%;height: 30%;


}

.description{
color: #808080;
font-style: italic;
}

.linkit{
align-self:flex-end;
}

.info{
display:flex;
flex-direction:row;
margin-top:5%;
justify-content:space-between;
}
.rounded{border-radius: 50%;
width:50%;height: 40%;}
@media screen and (max-width: 600px) {
 .namecontainer{
   z-index:0;
   width: 100%;
   height: 100%;
  
 }
  .App { 
    padding-top: 50%;

  }
  .rounded{width: 50%; height: 50%}
  .linkit{
    width: 5%; height: 5%;
    margin-right: 10%;
  }
  .AlignRowContainer{
    display: block;

  
  }
  .papercontainer{
    margin-top: 3%;
    width: 100%;
    
    
  }

  .table {
    min-width: 100%;
  }
 
}

 
@media (max-width:1500px) and (min-width:600px) {
  .namecontainer{
    z-index:0;
    width: 100%;
    height: 100%;
  }
   .App { 
     padding-top: 30%;
 
   }
   .rounded{width: 50%; height: 50%}
   .linkit{
     width: 5%; height: 5%;
     margin-right: 10%;
   }
   .AlignRowContainer{
     display: flex;
 
   
   }
   .papercontainer{
     margin-top: 3%;
     width: 100%;
   }
 
   .table {
     min-width: 100%;
   }
}